@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-1: #b7e08a;
  --primary-2: #cfeca8;
  --primary-3: #e0f5bd;

  --black-1: #0b0f0e;
  --black-2: #1d2322;
  --black-3: #313736;

  --gray-1: #818b9c;
  --gray-2: #9ba6b9;
  --gray-3: #bcc5d4;

  --light-gray-1: #f1f1f1;
  --light-gray-2: #f6f6f6;
  --light-gray-3: #f9f9f9;

  --red: #e04124;
  --black: #000000;
  --black-111: #111111;
  --white: #ffffff;
}

body {
  color: var(--black);
  background: var(--white);
  font-family: "Sora", sans-serif;
}

.playball {
  font-family: "Playball", cursive;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
